$main-font:    Arial, Tahoma, Georgia;
$main-font-color: #333333;

$header-color: #4F4F4F;
$header-margin: 0px 0px 15px 0px;
$header-font: Arial,Tahoma,Verdana;
$header-font-weight: normal;
$header-letter-spacing: -1px;

$component-width: 850px;
$component-margin-left: 25px;


$team-chat-main-color: #FF3454;
$team-chat-back-color: #F0A4A4;
$team-desk-main-color: #57B249;
$team-desk-back-color: #9BE491;
$team-projects-main-color: #2A6AAF;
$team-projects-back-color: #76B4FA;

$team-bad-main-color: #FF6484;
$team-bad-back-color: #FEDFE5;
$team-ok-main-color:  #C39F00;
$team-ok-back-color: #FFE77F;
$team-good-main-color: #60BF50;
$team-good-back-color: #ADF282;

$team-list-main-color: #3B92CE;
$team-list-border-color: #3B92CE;
$team-list-element-color: #BEDEF3;
$team-list-header-color: #EAEAEA;
$team-list-selected-color: #91D2FC;
$team-list-separator-color: #939393;
$team-list-height: 250px;

$filter-selected-color: #ADF282;
