@import './variables';
@import './mixins';

/* You can add global styles to this file, and also import other style files */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	font-family:$main-font;
	font-size:14px;
	background-color:#ffffff;
	color:#7c7c7c;
	line-height:22px;
	padding:0px;
	margin:0px;
	overflow-x:hidden;
}

h1 {
  font-family:$header-font;
  color:$header-color;
  margin:$header-margin;
	font-weight:$header-font-weight;
	letter-spacing:$header-letter-spacing;
	font-size:34px;
  line-height:34px;
}

h2 {
  font-family:$header-font;
  color:$header-color;
  margin:$header-margin;;
	font-weight:$header-font-weight;
	letter-spacing:$header-letter-spacing;
	font-size:30px;
  line-height:32px;
}

h3 {
  font-family:$header-font;
  color:$header-color;
  margin:$header-margin;
	font-weight:$header-font-weight;
	letter-spacing:$header-letter-spacing;
	font-size:28px;
  line-height:30px;
}

h4 {
  font-family:$header-font;
  color:$header-color;
  margin:$header-margin;
	font-weight:$header-font-weight;
	letter-spacing:$header-letter-spacing;
	font-size:24px;
  line-height:28px;
}

h5 {
  font-family:$header-font;
  color:$header-color;
  margin:$header-margin;
	font-weight:$header-font-weight;
	letter-spacing:$header-letter-spacing;
	font-size:20px;
  line-height:24px;
}

h6 {
  font-family:$header-font;
  color:$header-color;
  margin:$header-margin;
	font-weight:$header-font-weight;
	letter-spacing:$header-letter-spacing;
	font-size:18px;
  line-height:18px;
}

div {
  padding: 0;
}

ul, p {
  margin-bottom: 12px;
}

/* You can add global styles to this file, and also import other style files */
ul {
  list-style: none;
}
