<div class="container">
  <h4>Select an improvement to view (ordered by {{_filter}})</h4>
  <ul>
    <div *ngFor="let key of this._objKeys(this._sortedImprovements)">
      <h5 [ngClass]="selectTitleClass(key)">{{key}}</h5>
      <li class="improvement" [ngClass]="{'selected': this._currentImprovement===improvement}" *ngFor="let improvement of this._sortedImprovements[key]" (click)="updateImprovement(improvement)">
        {{improvement.title}}
      </li>
    </div>

  </ul>
</div>
