@import '../../../sass/variables';
@import '../../../sass/mixins';

.container {
  width: $component-width;
  background: $team-list-main-color;
  max-width: 100vw;
}

.container ul {
  border-color: $team-list-border-color;
  max-height: $team-list-height;
  overflow: hidden;
  border-style:inset;
  border-width: 4px;
  max-width: 90vw;
  overflow-y: scroll;
}

.container li {
  background:$team-list-element-color;
  border-bottom: 1px $team-list-separator-color dashed;
  padding:.5em;
  font-weight:bold;
  cursor:pointer;
}

.container .selected {
  background:$team-list-selected-color;
}

.container h5 {
  color: $team-list-header-color;
  margin: 0;
}

.cat-chat {
  background-color: $team-chat-main-color;
}

.cat-desk {
  background-color: $team-desk-main-color;
}

.cat-projects {
  background-color: $team-projects-main-color;
}

.cat-default {
  background-color: $team-projects-main-color;
}
