@import '../../../sass/variables';
@import '../../../sass/mixins';

$component-width: 850px;
$component-margin-left: 25px;

.team-filters {
  width: $component-width - $component-margin-left;
  margin-left: $component-margin-left;
  max-width: 90vw;
}

.filter-selected {
  background-color:$filter-selected-color;
  transition: background 0.3s linear;
}

.filter-cloud button {
	display: block;
	float: left;
	padding: 5px 6px;
	transition: background 0.3s linear;
	color:#7c7c7c;
	border: 1px solid #dddddd;
	border-bottom: 1px solid #aeafb1;
	border-right: 1px solid #aeafb1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin:0px 5px 5px 0px;
}
