<div class="team-filters">
  <h4>Breakdown</h4>
  <span class="filter-title">Please select what you want the improvements broken down by:</span>
  <ul class="filter-cloud">
    <li *ngFor="let filter of this._filters">
      <button (click)="filterSelected(filter)" [ngClass]="{'filter-selected': this._currentFilter==filter}" >By {{filter}}</button>
    </li>
  </ul>
</div>
