@import '../../../sass/variables';
@import '../../../sass/mixins';

.teamwork-intro {
  width: $component-width - $component-margin-left;
  margin-left: $component-margin-left;
  max-width: 80vw;
}

.teamwork-intro h4 {
  margin-top: 30px;
}
