<div class="teamwork-intro">
  <h4>Teamwork Feature Suggestions</h4>
  <p>Hi there! This is Kevin Beirne's suggestions for teamwork's amazing software. I've broken down my suggestions into different categories which you can see below.</p>
  <p>Most important to note are my "impact" scores. These are how large an impact I think the suggested improvement/change might make.
  If you are in a hurry then order the results by impact and then check the high impact suggestions.</p>
  <p>NOTE: There are tons of improvements that could be made on this improvement suggestion planner and it is here primarily as an example of my web development abilities and what
  I'm capable of building in a couple of days. If we work together you can expect far more detail and sustainability in my work.</p>
</div>
<team-filters (filterUpdated)="updateFilter($event)"></team-filters>
<team-graph [improvements]="_improvements" [filter]="_currentFilter"></team-graph>
<team-list [improvements]="_improvements" [filter]="_currentFilter" (currentImprovementUpdated)="updateCurrentImprovement($event)"></team-list>
<team-details [improvement]="_currentImprovement"></team-details>
