@import '../../../sass/variables';
@import '../../../sass/mixins';

.team-details {
  width: $component-width - $component-margin-left;
  margin-left: $component-margin-left;
  max-width: 80vw;
}

.team-details button {
  display: inline;
}

.team-details-attribute {
  font-weight: 400;
  border-radius: 4px;
  padding: 2px 5px 2px 5px;
}

.team-details-chat {
  color: $team-chat-main-color;
  background-color: $team-chat-back-color;
}

.team-details-projects {
  color: $team-projects-main-color;
  background-color: $team-projects-back-color;
}

.team-details-desk {
  color: $team-desk-main-color;
  background-color: $team-desk-back-color;
}

.team-details-bad {
  color: $team-bad-main-color;
  background-color: $team-bad-back-color;
}

.team-details-ok {
  color: $team-ok-main-color;
  background-color: $team-ok-back-color;
}

.team-details-good {
  color: $team-good-main-color;
  background-color: $team-good-back-color;
}
