<div class="team-details" *ngIf="improvement!=null">
  <h4>{{improvement.title}}</h4>
  <ul>
    <li>
      <span>
        <b>Application:</b>
        <span class="team-details-attribute" [ngClass]=
          "{'team-details-chat': improvement.application=='chat',
           'team-details-desk': improvement.application=='desk',
           'team-details-projects': improvement.application=='projects'}">{{improvement.application}}</span>
      </span>
    </li>
    <li>
      <span><b>Impact:</b> <span class="team-details-attribute"
        [ngClass]="{
          'team-details-good': improvement.impact >= 7,
          'team-details-ok': improvement.impact >= 4 && improvement.impact < 7,
          'team-details-bad': improvement.impact < 4 }">{{improvement.impact}}</span></span>
    </li>
    <li>
      <span><b>Complexity:</b> <span class="team-details-attribute"
        [ngClass]="{
          'team-details-bad': improvement.complexity >= 7,
          'team-details-ok': improvement.complexity >= 4 && improvement.impact < 7,
          'team-details-good': improvement.complexity < 4 }">{{improvement.complexity}}</span></span>
    </li>
    <li>
      <span><b>Type:</b> <span>{{improvement.type}}</span></span>
    </li>
  </ul>
  <h3>Description</h3>
  <p>{{improvement.description}}</p>
  <h3>Why it's important</h3>
  <p>{{improvement.why}}</p>
</div>

<!--span class="team-details-desk team-details-attribute">Desk</span-->
<!--span class="team-details-projects team-details-attribute">Projects</span-->
